{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="article-image" src="{{ book.image_url|default_if_none:'#' }}" />
        </div>
        <div class="col-lg-7 d-flex align-self-center">
            <div class="row">
                <article class="article">
                    <div class="article-title">
                        <h4>{{ book.title }}<small class="text-muted"> (author: {{ book.author }})</small></h4>
                    </div>
                    <div class="article-subtitle">
                        <h6 class="text-muted">Pages: {{ book.pages }}</h5>
                    </div>
                    <div class="article-content">
                        <p>{{ book.desc }}</p>
                    </div>
                    <div class="article-created-by">
                        <p class="text-muted">created by {{ book.created_by.username }} on {{ book.created_at }}</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-1 d-flex align-self-center">
            <div class="row">
                <a href="{% url 'add_wishlist' book.id %}" class="btn btn-primary btn-sm">Add Wishlist</a>
                <a href="{% url 'update' book.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete' book.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}