{% extends 'base.html' %}

{% block content %}
    
    <div class="container">
        <div class="row">
            {% for book in books %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card text-center h-100">
                    <img class="card-img-top" src="{{ book.image_url|default_if_none:'#' }}">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title"><a href="{% url 'detail' book.id %}">{{ book.title }}</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><small class="text-muted">Category: {{ book.category }}, Pages: {{ book.pages }}</small></h6>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">Author: {{ book.author }}</h6>
                        <p class="card-text">{{ book.desc|truncatechars_html:150 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}