{% extends 'users/profile.html' %}

{% block lists %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Pages</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for finishedbook in finishedlist %}
                <tr>
                    <td><a href="{% url 'detail' finishedbook.book.id %}">{{ finishedbook.book.title }}</a></td>
                    <td>{{ finishedbook.book.author }}</td>
                    <td>{{ finishedbook.book.pages }}</td>
                    <td><a href="{% url 'remove_finishedlist' id=finishedbook.book.id %}" class="btn btn-danger btn-sm">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock lists %}