{% extends 'users/profile.html' %}

{% block lists %}
    {% if wishlist == None %}
        <h3>No books have been added to the wishlist yet</h3>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Pages</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for wishedbook in wishlist %}
                    <tr>
                        <td><a href="#">{{ wishedbook.book.title }}</a></td>
                        <td>{{ wishedbook.book.author }}</td>
                        <td>{{ wishedbook.book.pages }}</td>
                        <td>
                            <div class="btn-group-vertical">
                                <a href="{% url 'add_readinglist' wishedbook.book.id %}" class="btn btn-primary btn-sm">Move to Reading</a>
                                <a href="{% url 'add_finishedlist' wishedbook.book.id %}" class="btn btn-secondary btn-sm">Move to Finished</a>
                                <a href="{% url 'remove_wishlist' wishedbook.book.id %}" class="btn btn-danger btn-sm">Remove</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock lists %}