{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-lg-4">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">E-mail:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">User Name:</th>
                    <td>{{ user.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <div class="btn-group" role="group">
            <a href="{% url 'wishlist' %}" class="btn btn-secondary btn-lg {% if is_wishlist %}active{% endif %}">Wishlist</a>
            <a href="{% url 'readinglist' %}" class="btn btn-secondary btn-lg {% if is_readinglist %}active{% endif %}">Still Reading</a>
            <a href="{% url 'finishedlist' %}" class="btn btn-secondary btn-lg {% if is_finishedlist %}active{% endif %}">Finished</a>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-9">
                {% block lists %}
                {% endblock lists %}
            </div>
        </div>
    </div>
</div>
{% endblock %}